.wallet-card {
  background: #111;
  border: 1px solid #333;
  color: #fff;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
  margin: 30px auto;
  width: 90%;
  max-width: 400px;
}

.wallet-card button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #00ffae;
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.wallet-card button:hover {
  background: #00cc8c;
}
@media (max-width: 480px) {
  .wallet-card {
    padding: 20px;
    margin: 20px auto;
  }
}