body {
  background: #0a0b0d;
  color: #fff;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding-bottom: 50px;
}
h1 {
  margin-top: 20px;
  color: #00ffae;
}